/*
    Wisp Grid Settings
*/
$layout-width: 980px;
$gutter:24px;
 
// Predefined column widths
 
//golden ratio
$golden-small: 38.2%;
$golden-large: 61.8%;
 
//thirds
$one-third: 33.33%;
$two-thirds: 66.66%;
 
//quaters
$one-quarter: 25%;
$one-half: 50%;
$three-quarters: 75%;