@import "wisp_settings";
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
@mixin row($nested: false) {
    @if $nested {margin: 0 (-($gutter));}
	@else { margin: 0 auto;}
    max-width: $layout-width;
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin column($column-width: 100%) {
    float: left;
    padding: 0 $gutter;
    width: $column-width;
}